<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="multipart/form-data;charset=utf-8">
    <title>新增跟单</title>
    <link rel="stylesheet" href="/static//layui/css/layui.css" media="all">
</head>
<script src="/static/layui/layui.js"></script>
<body>
<span>
        <font align="left">北京新旅途投资有限公司-BPM双语版</font>
        <button align="right"><i class="layui-icon layui-icon-return">返回</i></button>
        <button align="right"><i class="layui-icon layui-icon-refresh-3">刷新</i></button>
    </span>
<hr>
<div class="layui-form-item">
    <label class="layui-form-label">跟单主题</label>
    <div class="layui-input-block">
        <select>
            <option value="0">请选择</option>
            <option th:each="s:${shang}" th:value="${s.coid}">[[${s.coname}]]</option>
        </select>
    </div>
</div>
<div style="background-color:yellow">历史跟单记录</div>
<div style="background-color:yellow">新增跟单记录</div>
<form class="layui-form" enctype="multipart/form-data" method="post" action="/documentary/add1.do" >
    <input type="hidden" name="docComid" value="1"/>
    <input type="hidden" name="theme" value="老城区"/>
    <table>
        <tr>
            <td><label class="layui-form-label">*跟单分类</label></td>
            <td>
                <select name="docClaid">
                    <option value="0">请选择</option>
                    <option th:each="a:${gen}" th:value="${a.claid}">[[${a.claname}]]</option>
                </select>
            </td>
            <td><label class="layui-form-label">跟单人：</label></td>
            <td>
                <input type="hidden" name="docuser" value="1"/>
                <input type="text" style="border:0px;" readonly value="王娜"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label class="layui-form-label">详细内容</label>
                <div class="layui-input-block">
                    <input type="text" name="docDetails" />
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label class="layui-form-label">相关附件</label>
                <div class="layui-input-block">
                    <input type="file" name="file"/>
                </div>
            </td>
        </tr>
    </table>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">保存</button>
            <button type="reset" class="layui-btn layui-btn-primary">取消</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    layui.use('form', function () {
        var form = layui.form;
        form.render();
    });
</script>
</body>